.Contact{
    height: 100vh;
    width: 100vw;
    background-color: #2C2C2C;
    color: white;
    overflow: hidden;

    .HeaderCont{
        height: 14%;
        :nth-child(2){
          font-size:25px;
        }
    }
    
    .Content{
        height: 80%;
        
    }
}