.Home{
    height: 100vh;
    width: 100vw;
    background-image: url('/images/auroa.png');
    background-size: cover;
    color: white;
    overflow-x: hidden;

    .HeaderCont{
        position: sticky;
        top:0;
        height: 14%;
        :nth-child(2){
          font-size:25px;
        }
        .NavBar{
            height:100%;
        }

        .Menu{
            display: none;
        }
    }
    
    .Content{
        padding: 10px;
        height: 80%;
        display:flex;
        align-items:center;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;

            .Title{
                width:50%;
                min-width:300px;;
                max-width:800px;
                
                .Name{
                    font-size: 96px;
                }
                .Position{
                    margin-top: -10px;;
                    font-size: 48px;  
                }
                .Bio{
                    font-size: 18px;  
                    
                }
            
        }

        .Competencies{
            display: flex;
            align-items: center;
            justify-content: center;
            width:60%;
            max-height:800px;
            min-width:300px;;
            max-width:600px;
            margin-top:2%;

        }

    }
}

@media only screen and (max-width: 600px) {
    .Home{
        background-size: cover;
        background-position: center;
        mix-blend-mode: overlay;
        .HeaderCont{
            position: sticky;
            top:0;
            z-index: 100;
        
            .NavBar{
                display:none;
            }
            .Menu{
                height: 100%;
                justify-content: flex-end;
                margin-right:5%;
                align-items: center;
                display: flex;

                .Logo{
                    position: relative;
                    right:70%;
                    :nth-child(1){
                        width:80px;
                        height:80px;
                        text-align: center;
                        padding-top:10px;
                        font-size:50px;
                    }
                }   
            }
        }
        
        .Content{
            margin-top:-20px;
            position: relative;
            right: 4%;
            
            .Title{
                text-align: center;
                margin:10%;
                .Name{
                    font-size: 2rem;
                }
                .Position{
                    margin-top:6px;
                    font-size: 22px;  
                }
                .Bio{
                    font-size: 14px;  
                    margin-bottom:15%;
                }
            }
    
        }
    }

}

@media only screen and (max-width: 700px) {
    .Home{
        
        .Content{
            
            
            .Title{
                margin:10%;
                .Name{
                    text-align: center;
                    font-size: 60px;
                }
                .Position{
                    text-align: center;
                    margin-top:6px;
                    font-size: 32px;  
                }
                .Bio{
                    margin-top:20px;
                    font-size: 16px;  
                    text-align: center;
                }
            }

            .Competencies{
                margin-top:-40px;
            }
    
        }
    }

}